<!--mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</!--mat-form-field>
-->
<br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <!-- Selection -->
    <ng-container matColumnDef="booking_checked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"> </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-checkbox  [checked] = "element.booking_checked" (change)="element.booking_checked = !element.booking_checked" ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Index Column -->
    <ng-container matColumnDef="booking_id"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"> Nummer </th>
      <td mat-cell *matCellDef="let element"> {{element.booking_id}} </td>
    </ng-container>

    <!-- BookedDay Column -->
    <ng-container matColumnDef="booked_for_day" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Buchungstag </th>
      <td mat-cell *matCellDef="let element"> {{ storeService.getWeekDayFromDate(element.booked_for_day)+", "}}  {{ element.booked_for_day | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <!-- Workspace Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Kategorie </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <!-- Workspace Column -->
    <ng-container matColumnDef="workspace">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Arbeitsplatz </th>
      <td mat-cell *matCellDef="let element"> {{element.workspace}} </td>
    </ng-container>

    <!-- Workspace Column -->
    <ng-container  matColumnDef="occupied">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;">Status</th>
      <td mat-cell *matCellDef="let element">
      <app-state [morning]="element.morning" [afternoon]="element.afternoon" ></app-state>
      </td>
    </ng-container>

    <ng-container matColumnDef="deleteAction"> 
      <th mat-header-cell *matHeaderCellDef>Aktion</th>
      <td mat-cell *matCellDef="let element">
        <!--TODO: icon for button like "<mat-icon>delete</mat-icon>" MatButtonModule und MatIconModule müssen importiert werden -->
        <button class="primaryButtonKS" *ngIf="element.deletable" (click)="onDeleteButton(element)">Löschen</button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
</div>
<br>
<div class="row my-1">
  <div class="col-auto">
    <button class="primaryButtonKS" (click)="onDeleteMultipleBookings()" [ngStyle]="{'padding-left.px':'15', 'padding-right.px':'15', 'padding-top.px':'7', 'padding-bottom.px':'7', 'margin-left.px':'10'}">x</button>
  </div>
  <div class="col-auto ms-5 ">
    <div [ngStyle]="{'height': '4px'}"></div>
      <h3 >Auswahl löschen</h3>
  </div>
</div>
