<div class="card" *ngIf="booking" style="background-color: rgba(70, 70, 70, 0.07);">
    
    <h3>Datum: {{bookingDate | date: 'dd.MM.yyyy'}}</h3>
    <h3>Raum: {{booking.workspace.workspace_name}}</h3>
    <button (click) ="deleteBooking()" class="btn btn-danger" style="width: 15%;"> Löschen</button>
</div>
<hr>