<div class="" *ngIf="this.storeService.localuser">
  <!-- pk, 2021/08/10: several bugs fixed by using just one identifier for allowed booking -->

  <div class="my-2 mx-3">
    <h2> {{getWelcomeText()}} </h2>


<div class="row">
  <div class="row">
    <div *ngIf="bookForAnydate" class="col-lg-3 col-xs-12 col-sm-12 col-md-12">
        <!-- pk, 2021/09/21: limit to 5 workday ahead, only-->
      <input type="date" min="{{today | date: 'yyyy-MM-dd'}}" max="{{maxBookingDate | date: 'yyyy-MM-dd'}}" value="{{selectedDate | date: 'yyyy-MM-dd'}}"  (input)="setDateFromEvent($event)" style="font-size: large;">
      <button class="primaryButtonKS" (click)="onDecrementCurrentDay()" [disabled] = "decrementDateDisabled" [ngStyle]="{'padding-left.px':'15', 'padding-right.px':'15', 'padding-top.px':'7', 'padding-bottom.px':'7', 'margin-left.px':'10'}">-</button>
      <button class="primaryButtonKS" (click)="onIncrementCurrentDay()" [disabled] = "incrementDateDisabled" [ngStyle]="{'padding-left.px':'13', 'padding-right.px':'13', 'padding-top.px':'7', 'padding-bottom.px':'7', 'margin-left.px':'3'}">+</button>
    </div>
    <div *ngIf="selectedDate && department" class="col-lg-2 col-xs-12 col-sm-12 col-md-12" >
      <app-search (onClick)="searchUser($event)" [date]="selectedDate" [department]="department.name" [change]="change">

      </app-search>
    </div>

    <div *ngIf="maps" class="col-lg-2 col-xs-12 col-sm-12 col-md-12">
      <div *ngIf="maps.length>1">
        <form>
          <mat-form-field>
            <mat-select placeholder="Karte" [(value)]="selected" (selectionChange)="refresh()">
              <mat-option *ngFor="let map of maps" [value]="map">
                {{ map.name }} <ng-container *ngIf="map.public"></ng-container>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="col-lg-2 col-xs-12 col-sm-12 col-md-12">
      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="storeService.showTableInsteadOfMap" (change)="onToggleChangeButton(group.value)">
        <mat-button-toggle [value]="false">
          <img title="Karte anzeigen" height="20px" width="20px" src="../../../assets/floor_plan_icon.png" alt="Karte anzeigen">
        </mat-button-toggle>
        <mat-button-toggle [value]="true">
          <img title="Tabelle anzeigen" height="20px" width="20px" src="../../../assets/table_icon.png" alt="Tabelle anzeigen">
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="col-lg-2 col-xs-12 col-sm-12 col-md-12" *ngIf="!storeService.showTableInsteadOfMap">
      <mat-slide-toggle class="my-2" [checked]="storeService.showOnlyAfternoonBookings" (toggleChange)="onToggleChangeMorningAfternoon()" >Nachmittag anzeigen</mat-slide-toggle>
    </div>
  </div>
  <div class="col-lg-10  col-xs-12 col-sm-12 col-md-12">
    <div *ngIf="storeService.showTableInsteadOfMap == false && storeService.localdepartment">
      <app-map
        [map] = "selected"
        [isPublic] = "false"
        [searched] = "searchedOccupation"
        [mapOccupations] ="occupationsForDay"
        [allWorkspaces] ="allActiveWorkspaces"
        [morningBooked]="morningBooked"
        [afternoonBooked]="afternoonBooked"
        [workspacecolors]="workspacecolors"
        [freeReservedWorkspaces]="getFreeReservedWorkspaces()"
        (workspace_click)="onWorkspaceClick($event)"
        (halfday_booking_click)="onHalfDayBookingClick($event)"
        (onDelete) ="refreshMap($event)"
        [department]="storeService.localdepartment">
      </app-map>
    </div>
    <div *ngIf="storeService.showTableInsteadOfMap == true">
      <app-booking-table id="bookingTable"
        [occupations] ="occupationsForDay"
        [allWorkspaces] ="allActiveWorkspaces"
        [morningBooked]="morningBooked"
        [afternoonBooked]="afternoonBooked"
        (onBooking) ="BookingFromTable($event)"
       ></app-booking-table>
    </div>


  </div>
  <div class="col-lg-2  col-xs-12 col-sm-12 col-md-12">
    <div class="row" width="auto">
      <div width="100%">
        <button *ngIf="!morningBooked || !afternoonBooked" class="primaryButtonKS"  (click)="onHomeofficeClick()" [ngStyle]="{'font-size': '20px', 'width': '100%'}">Mobiles Arbeiten buchen</button>
      </div>

    </div>
    <div class="row" width="auto" [ngStyle]="{'margin-top.px': '20', 'margin-bottom.px': '20'}">
      <div width="100%">
        <button *ngIf="!morningBooked || !afternoonBooked" class="primaryButtonKS" (click)="onAbsenceClick()" [ngStyle]="{'font-size': '20px', 'width': '100%'}">Abwesenheit buchen</button>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3>Mobiles Arbeiten</h3>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <div *ngFor="let hu of homeofficeUser">
                <div *ngIf="showEntry(hu)">
                  <app-card-entry [isPublic]="false" [homeofficeData]="hu" [searchedHomeoffice]="searchHomeoffice(hu)" (delete_click)="onDeleteHO($event)"></app-card-entry>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      </div>
      <br>
      <div class="row my-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3>Abwesenheiten</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <div *ngFor="let au of absenceUser">
                  <div *ngIf="showEntry(undefined,au)">
                    <app-card-entry [isPublic]="false" [absenceData]="au" [searchedAbsence]="searchAbsence(au)" (delete_click)="onDeleteAbsence($event)"></app-card-entry>
                  </div>

                </div>
              </ul>
            </div>
          </div>
        </div>
        </div>
  </div>
</div>
</div>
