.map{
    position: relative;
    width: match-parent;
    height: match-parent;
}

.map_img{
    display: block;
    height: 100%;
}

.layeredText {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(117, 0, 0, 0.6);
    color: white
}

.imagemap{
    width:100%;
    height:100%;
}

.workspace{
    width: 50px;
    height: 25px;
}

.removeBooking{
    font-weight: bold;
    display: none;
}



.removeBooking:hover{
    cursor: pointer;
}

.infocard:hover  + .removeBooking{
    display: block;
}

.hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }