<div class="map" >
    <div id="box" class="row">
      <div *ngIf="workspacecolors&&legendBeforeMap" class="col-auto"  >
        <!-- show the legend if there are more than 1 workspace colors definaed and there is enough horizontal space -->
          <div *ngIf="workspacecolors.length > 1" [ngStyle]="{'height': 'match-content', 'padding.px': '5', 'border.px': '5', 'border-color': '#c3c3c3', 'border-style': 'solid', 'border-radius.px': '5'}">
              <p>Arbeitsplätze</p>
              <div *ngFor="let w of workspacecolors">
                  <div [ngStyle]="{'background-color': '#'+w.color, 'width.px': 50*mapScale, 'height.px': 25*mapScale}"></div>
                  <p>{{w.description}}</p>
              </div>
          </div>
      </div>
        <div class="col-auto">
            <div *ngIf="ImagePath">
                <img id="map" src="{{ImagePath}}" usemap="#workspacemap" class="imagemap" [ngStyle]="{'height.px': mapWidth, 'width.px': mapWidth}" (mouseenter)="adjustHitboxes(); getOffset()" (loadeddatat)="adjustHitboxes()">
                <div *ngIf="allWorkspaces && department && !isPublic && ((mapOffsetLeft || mapOffsetLeft == 0) && (mapOffsetTop || mapOffsetTop == 0))">
                    <!-- handle workspaces for booking page -->
                    <div *ngFor="let w of allWorkspaces">
                        <div class="workspace" id="workspace" [ngStyle]="{'background-color': '#'+w.color.color, 'position': 'absolute', 'cursor': 'pointer', 'left.px': w.x*mapScale + mapOffsetLeft, 'top.px': w.y*mapScale + mapOffsetTop, 'transform':'rotate('+w.rotation+'deg) scale('+w.scale*mapScale+')'}" (click)="onWorkspace_click(w)" title={{getEquipmentAsString(w)}}></div>
                        <app-infocard *ngIf="w.employee_id!=null && (!checkReservedFree(w.workspace_id) || checkReservedFreeHalfDay(w.workspace_id))" [freeReserved]="checkReservedFree(w.workspace_id)" [workspace]="w" [employee_id]="w.employee_id" [rotation]="department.RotateInfocards === true ? w.rotation : 0" [isPublic]="isPublic" [departmentFromPublicPage]="department" [occupations]="getOccupationsForWorkspace(w.workspace_id)" [offsetLeft]="mapOffsetLeft" [offsetTop]="mapOffsetTop" [searched]="searchedWorkspace(w)" [windowWidth]="mapWidth" (infocard_click)="onInfocard_click($event)" (delete_click)="delete_clicked($event)"></app-infocard>

                    </div>
                </div>

                <div *ngIf="allWorkspaces && department && isPublic && ((mapOffsetLeft || mapOffsetLeft == 0) && (mapOffsetTop || mapOffsetTop == 0))">
                   <!-- handle workspaces for public landing page -->
                    <div *ngFor="let w of allWorkspaces">
                        <div class="workspace" [ngStyle]="{'background-color': '#'+w.color.color, 'position': 'absolute', 'left.px': w.x*mapScale + mapOffsetLeft, 'top.px': w.y*mapScale + mapOffsetTop, 'transform':'rotate('+w.rotation+'deg) scale('+w.scale*mapScale+')'}" title={{getEquipmentAsString(w)}}></div>
                        <app-infocard *ngIf="w.employee_id!=null && (!checkReservedFree(w.workspace_id) || checkReservedFreeHalfDay(w.workspace_id))" [freeReserved]="checkReservedFree(w.workspace_id)" [workspace]="w" [employee_id]="w.employee_id" [rotation]="department.RotateInfocards === true ? w.rotation : 0" [isPublic]="isPublic" [departmentFromPublicPage]="department" [occupations]="getOccupationsForWorkspace(w.workspace_id)" [offsetLeft]="mapOffsetLeft" [offsetTop]="mapOffsetTop" [searched]="searchedWorkspace(w)" [windowWidth]="mapWidth" (infocard_click)="onInfocard_click($event)" (delete_click)="delete_clicked($event)"></app-infocard>
                    </div>
                </div>

                <div *ngIf="mapOccupations && department && ((mapOffsetLeft || mapOffsetLeft == 0) && (mapOffsetTop || mapOffsetTop == 0))">
                  <!-- show occupation for both pages, add an "x" on the booking page if the user has a booking already -->
                    <div *ngFor="let o of mapOccupations">
                        <div class="removeBooking hide" [ngStyle]="{'position': 'absolute', 'left.px': o.workspace_x*mapScale + mapOffsetLeft, 'top.px': o.workspace_y*mapScale + mapOffsetTop}">x</div>
                        <app-infocard [rotation]="department.RotateInfocards === true ? o.workspace_rotation : 0" [isPublic]="isPublic" [departmentFromPublicPage]="department" [occupations]="getOccupationsForWorkspace(o.workspace_id)" [offsetLeft]="mapOffsetLeft" [offsetTop]="mapOffsetTop" [booking_id]="o.booking_id" [searched]="searchedWorkspace(o)" [windowWidth]="mapWidth" (infocard_click)="onInfocard_click($event)" (delete_click)="delete_clicked($event)" ></app-infocard>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="workspacecolors&&!legendBeforeMap" class="col-12"  >
          <!-- show legend below the map, if there is not enough horizontal space for both-->
            <div *ngIf="workspacecolors.length > 1" [ngStyle]="{'height': 'match-content','width': 'match-content' , 'padding.px': '5', 'border.px': '5', 'border-color': '#c3c3c3', 'border-style': 'solid', 'border-radius.px': '5', 'margin-bottom.px': '5'}">
                <p>Arbeitsplätze</p>
                <div *ngFor="let w of workspacecolors">
                    <div [ngStyle]="{'background-color': '#'+w.color, 'width.px': 50*mapScale, 'height.px': 25*mapScale}"></div>
                    <p>{{w.description}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
