<div class="container">
    <div class="row">
        <div class="col-3">  
            <h3>Alle Arbeitsplätze</h3>  
            <mat-selection-list (selectionChange)="roomSelected($event)">
                <mat-list-option *ngFor="let r of rooms" [value]="r" >
                    {{r.room_name}}
                </mat-list-option>
            </mat-selection-list>
        </div>
 

        <div class="col-md-auto mx-5 mt-4">
            <form [formGroup]="roomForm">
                <!-- ROOM NAME-->
                <div class="row form-group">
                    <label>Raum Name</label>
                    <input class="form-control" type="text" formControlName="room_name">
                </div>

                <!-- ORGA UNIT-->
                <div class="row form-group">
                    <label>Organisationseinheit</label>
                    <input class="form-control" type="text" formControlName="orga_unit">
                </div>

                <!-- DESCRIPTION-->
                <div class="row form-group">
                    <label>Beschreibung</label>
                    <input class="form-control" type="text" formControlName="description">
                </div>

                <!-- ACTIVE-->
                <div class="row form-group">
                    <label>Aktiv</label>
                    <input class="form-control" type="text" formControlName="active">
                </div>

                <!-- DATEOFEXPIRY-->
                <div class="row form-group">
                    <label>Date of Expiry</label>
                    <input class="form-control" type="text" formControlName="dateofExpiry">
                </div>

                <!-- VALIDFROM-->
                <div class="row form-group">
                    <label>Erstellungs Datum</label>
                    <input class="form-control" type="text" formControlName="validFrom">
                </div>
            </form>
        </div>
    </div>
</div>
