.example-viewport {
    height: 400px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 20px;
    font-size: large;
  }

  .mat-mdc-selection-list {
    max-height: 400px;
    overflow: auto;
    border: 1px;
    border-style: solid;
  }