<div *ngIf="boxColor && checkedColor" matTooltip="{{tooltipText}}" [matTooltipDisabled]="selectable()">
    <div class="" [ngClass]="{'box' : true,'hovable': selectable(),'disabled': selectable() }"  [ngStyle]="{'border-color' : boxColorOrDisabled()}" (click)="onChange()">
        <div [ngClass]="{'checked': checked, 'disabledInner': disabled}" [ngStyle]="{'background-color' : checkedColorOrDisabled()}">
        </div>
    </div>
</div>