.box{
    border: 3px solid;
    border-radius: 5px;
    height:20px;
    width:20px;
    position: relative;
    z-index: 1;
    align-items: center;
}

.hovable:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.disabled {
    border-color: gray;
}

.disabledInner{
    width: 10px;
    height: 10px;
    margin: 2px;
    position:absolute;
    z-index: 3;
    border-radius: 2px;
    background-color: gray;
}

.checked{
    width: 10px;
    height: 10px;
    margin: 2px;
    position:absolute;
    z-index: 3;
    border-radius: 2px;
    
}