<div class="container">
    <div class="row">
        <div class="col">

            <mat-form-field appearance="fill">
                <mat-label>Benutzer wählen</mat-label>
                <mat-select (selectionChange)="setUser($event.value)"> 
                  <mat-option *ngFor="let user of allUsers" [value]="user" >
                    {{user.lastname + ' ' +  user.forename}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <p style="font-size: x-small;">Benutzer</p>
        </div>
        <div class="col">

            <mat-form-field appearance="fill">
                <mat-label>Eigenschaft wählen</mat-label>
                <mat-select [(value)]="selectedAttribute" (selectionChange)="setAttribute($event.value)" > 
                  <mat-option *ngFor="let attribute of attributes" [value]="attribute" >{{attribute}}</mat-option>
                </mat-select>
              </mat-form-field>
              <p style="font-size: x-small;">Eigenschaft</p>
        </div>

        <div *ngIf="isChangingDefaultMap" class="col">
            <div *ngIf="maps" class="col-lg-4 col-xs-12 col-sm-12 col-md-12">
                <div *ngIf="maps.length>1">
                    <p>Neue Defaultkarte einstellen:</p>
                    <form>
                        <mat-form-field>
                        <mat-select placeholder="Karte" [(value)]="selectedMap">
                            <mat-option *ngFor="let map of maps" [value]="map">
                            {{ map.name }}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                    </form>
                    <button class="primaryButtonKS" type="submit" (click)="changeDefaultMap()">Aktualisieren</button>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="isChangingRoles" class="col">
        <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12">
                <mat-form-field>
                    <mat-label>Neue Rollen einstellen</mat-label>
                    <mat-select [formControl]="roleForm" multiple [compareWith]="compareRoles" [(ngModel)]="roles">
                      <mat-option *ngFor="let role of allRoles" [value]="role">{{role.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <button class="primaryButtonKS" type="submit" (click)="changeRoles()">Aktualisieren</button>
        </div>
    </div>

    <div *ngIf="isRemovingUser" class="col">
        <button class="secondaryButtonKS" type="submit" (click)="openDeleteDialog()">User Löschen</button>
    </div>

</div>
