<div class="container">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Benutzer wählen</mat-label>
                <mat-select (selectionChange)="onUserChanged($event)">
                  <mat-option *ngFor="let user of allUsers" [value]="user" >
                    {{user.lastname + ' ' +  user.forename}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()">
          
              <!-- Index Column -->
              <ng-container matColumnDef="booking_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"> Nummer </th>
                <td mat-cell *matCellDef="let element"> {{element.booking_id}} </td>
              </ng-container>
          
              <!-- BookedDay Column -->
              <ng-container matColumnDef="booked_for_day">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Buchungstag </th>
                <td mat-cell *matCellDef="let element"> {{storeService.getDateFromNumber(element.booked_for_day) | date: 'dd.MM.yyyy'}} </td>
              </ng-container>
          
              <!-- Workspace Column -->
              <ng-container matColumnDef="workspace">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;">Arbeitsplatz </th>
                <td mat-cell *matCellDef="let element"> {{element.workspace}} </td>
              </ng-container>

              <!-- Workspace Column -->
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Kategorie </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>
              
              <!-- Workspace Column -->
              <ng-container  matColumnDef="occupied">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;">Status</th>
                <td mat-cell *matCellDef="let element">
                  <app-state [morning]="element.morning" [afternoon]="element.afternoon" ></app-state>
                </td>
              </ng-container>
              <ng-container matColumnDef="deleteAction"> 
                <th mat-header-cell *matHeaderCellDef>Aktion</th>
                <td mat-cell *matCellDef="let element">
                  <!--TODO: icon for button like "<mat-icon>delete</mat-icon>" MatButtonModule und MatIconModule müssen importiert werden -->
                  <button class="primaryButtonKS" *ngIf="element.deletable" (click)="onDeleteButton(element)">Löschen</button>  
                </td>
              </ng-container>
              
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
          </div>
    </div>
</div>