<h1 mat-dialog-title>
    {{title}}
  </h1>
    
  <div mat-dialog-content>
      <div class="col">
        <div class="row">
            <p style="font-weight: bold;">{{description}}</p>
        </div>
        <div class="row mt-3">
            <mat-checkbox class="example-margin" [checked]="halfday" (change)="halfday = !halfday">Halben Tag buchen</mat-checkbox>
        </div>
        <div class="row"  *ngIf="halfday">
            <mat-radio-group aria-label="Select an option" (change)="changeRadio($event.value)">
                <mat-radio-button class="mx-4 mt-2" value="vormittags" [checked]="morning" >Vormittags (bis 12:30 Uhr)</mat-radio-button><br>
                <mat-radio-button class="my-2 mx-4" value="nachmittags" [checked]="afternoon" >Nachmittags (ab 12:30 Uhr)</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row mt-3">
            <label>Kommentar</label>
            <textarea #comment [value]="note" (input)="note = comment.value" rows="4" cols="30"></textarea>
        </div>
      </div>

    

  </div>
    
  <div mat-dialog-actions width="100%">
    <button class="secondaryButtonKS" (click)="close()" style="float: right; width: 50%">Abbrechen</button>
    <button class="primaryButtonKS" (click)="save()" style="float: right; width: 50%">Bestätigen</button>
  </div>
