<div>
    <nav>
        <a mat-button class="link" routerLink="../adminpanel/newbooking" routerLinkActive="active">Neue Buchung</a>
        <a mat-button class="link" routerLink="../adminpanel/managebookings" routerLinkActive="active">Buchungen</a>
        <a mat-button class="link" routerLink="../adminpanel/manageusers" routerLinkActive="active">Benutzer</a>
        <a mat-button class="link" routerLink="../adminpanel/manageworkspaces" routerLinkActive="active">Arbeitsplätze</a>
        <a mat-button class="link" routerLink="../adminpanel/manageorga" routerLinkActive="active">Organisationseinheit</a>
        
        <!-- //pk, 2022/05/27: currently not used
        <a mat-button class="link" routerLink="../adminpanel/manageworkspaces" routerLinkActive="active">Arbeitsplätze verwalten</a>
        <a mat-button class="link" routerLink="../adminpanel/managerooms" routerLinkActive="active">Räume verwalten</a>
        -->
        <!-- <a mat-button class="link" routerLink="../bookings/roompage/anydate" routerLinkActive="active">Arbeitsplätze verwalten</a> -->

    </nav>
</div>

<router-outlet></router-outlet>