<div class="container">
    <div class="row">
        <div class="col-sm-2 my-3">
            <input type="date" value="{{selectedDate | date: 'yyyy-MM-dd'}}" (input)="setDateFromEvent($event)" style="font-size: large;">
          </div>
    </div>
    <div class="row">
        <div class="col">

            <mat-form-field appearance="fill">
                <mat-label>Benutzer wählen</mat-label>
                <mat-select (selectionChange)="setUser($event.value)">
                  <mat-option *ngFor="let user of unoccupiedUsers" [value]="user" >
                    {{user.lastname + ' ' +  user.forename}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p style="font-size: x-small;">Benutzer ohne Buchung</p>
        </div>

        <div class="col">
          <mat-form-field appearance="fill">
              <mat-label>Kategorie wählen</mat-label>
              <mat-select (selectionChange)="setCategory($event.value)">
                <mat-option [value]=1>Arbeitsplatz</mat-option>
                <mat-option [value]=2>Mobiles Arbeiten</mat-option>
                <mat-option [value]=3>Abwesenheit</mat-option>
              </mat-select>
            </mat-form-field>
      </div>

        <div class="col" *ngIf="bookingWorkspace">
            <mat-form-field appearance="fill">
                <mat-label>Arbeitsplatz wählen</mat-label>
                <mat-select (selectionChange)="setWorkspace($event.value)">
                  <mat-option *ngFor="let freeWorkspaces of unoccupiedWorkspaces" [value]="freeWorkspaces" >
                    {{freeWorkspaces.workspace_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p style="font-size: x-small;">FREIE Arbeitsplätze</p>
        </div>
        <div class="col" >
            <button class="primaryButtonKS" (click)="booking_clicked()" [disabled]="BookingButtonDisabled()">Buchung eintragen</button><br>
            <!-- pk, 2023/03/28, feedack is given by open snackbar from now on
              label *ngIf="createdBooking" class="my-3 successLabel">Buchung wurde erstellt
              </!-->
        </div>
    </div>


</div>
