<h2>Übersicht der Buchungen für {{selectedDate | date: 'EEEE' | i18nSelect: this.storeService.weekdayMap }} {{ storeService.showOnlyMorningBookings ? '(morgens)' : '(nachmittags)' }}, den {{selectedDate | date: 'dd.MM.yyyy'}} </h2>
<div class="row">


  <!-- <div class="col-lg-2">
    <h2>
    Home-Office
    </h2>
</div> -->

  <div class="row">
    <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12">
    <input *ngIf="!storeService.terminal" type="date" min="{{today | date: 'yyyy-MM-dd'}}" max="{{maxBookingDate | date: 'yyyy-MM-dd'}}" value="{{selectedDate | date: 'yyyy-MM-dd'}}" (input)="getDate($event)" style="font-size: large;">
    <button *ngIf="!storeService.terminal" (click)="onDecrementCurrentDay()" [ngStyle]="{'padding-left.px':'15', 'padding-right.px':'15', 'padding-top.px':'7', 'padding-bottom.px':'7', 'margin-left.px':'10'}" class="primaryButtonKS"[disabled]="disableDecrementButton">-</button>
    <button *ngIf="!storeService.terminal" (click)="onIncrementCurrentDay()" [ngStyle]="{'padding-left.px':'13', 'padding-right.px':'13', 'padding-top.px':'7', 'padding-bottom.px':'7', 'margin-left.px':'3'}" class="primaryButtonKS" >+</button>
  </div>
    <div *ngIf="!storeService.terminal && selectedDate && department" class="col-lg-2 col-xs-12 col-sm-12 col-md-12">
      <app-search (onClick)="searchUser($event)" [isPublic]="true" [date]="selectedDate" [department]="department.name">

      </app-search>
    </div>
    <div *ngIf="maps" class="col-lg-4 col-xs-12 col-sm-12 col-md-12">
      <div *ngIf="maps.length>1">
        <form>
          <mat-form-field>
            <mat-select placeholder="Karte" [(value)]="selected" (selectionChange)="refresh()">
              <mat-option *ngFor="let map of maps" [value]="map">
                {{ map.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12">
      <mat-slide-toggle class="my-2" [checked]="storeService.showOnlyAfternoonBookings" (toggleChange)="onToggleChangeMorningAfternoon()" >Nachmittag anzeigen</mat-slide-toggle>
    </div>
    <div class="col-lg-10  col-xs-12 col-sm-12 col-md-12">
      <!-- <mat-slide-toggle class="my-2" [checked]="showTableInsteadOfMap" (toggleChange)="showTableInsteadOfMap = !showTableInsteadOfMap" >Wechsel Karte / Tabelle</mat-slide-toggle> -->
      <div *ngIf="department">
        <app-map
          [map] = "selected"
          [isPublic] = "true"
          [searched] = "searchedOccupation"
          [mapOccupations] ="occupationsForDayOnMap"
          [allWorkspaces] ="allActiveWorkspaces"
          [workspacecolors]="workspacecolors"
          [department]="department"
          [morningBooked]="true"
          [afternoonBooked]="true"
          [freeReservedWorkspaces]="getFreeReservedWorkspaces()"
        ></app-map>

      </div>

      <!-- <div *ngIf="showTableInsteadOfMap">
        <div *ngIf="occupationsForDay && allWorkspaces && allRooms">
          <app-tableview
            [isLoggedIn] = "false"
            [mapOccupations] ="occupationsForDay"
            [allWorkspaces] ="allWorkspaces"
            [allRooms] = "allRooms"
            [bookable]="false"
          ></app-tableview>
      </div>

      </div>-->
    </div>
    <div *ngIf="!storeService.terminal" class="col-lg-2 col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <div>
          <div class="card">
            <div class="card-header">
              <h3>Mobiles Arbeiten</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <!-- <li class="list-group-item border-0" *ngFor="let hu of homeofficeUser">
                  <div *ngIf="showEntry(hu)">
                    <app-card-entry [homeofficeData]="hu" ></app-card-entry>
                  </div>

                </li> -->


                <div *ngFor="let hu of homeofficeUser">
                  <div *ngIf="showEntry(hu)">
                    <app-card-entry [isPublic]="true" [homeofficeData]="hu" [searchedHomeoffice]="searchHomeoffice(hu)"></app-card-entry>
                  </div>

                </div>

              </ul>
            </div>
          </div>
        </div>
        </div>

        <br><br>
        <div class="row my-4">
          <div>
            <div class="card">
              <div class="card-header" >
                <h3>Abwesenheiten</h3>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <div *ngFor="let au of AbsenceUser">
                    <div *ngIf="showEntry(undefined,au)">
                      <app-card-entry [isPublic]="true" [absenceData]="au" [searchedAbsence]="searchAbsence(au)"></app-card-entry>
                    </div>

                  </div>
                </ul>
              </div>
            </div>
          </div>
          </div>
    </div>
  </div>



