<div class="container">
    <br>
    <div class="row">
        <div class="col-md-auto">
            <!--<mat-form-field appearance="fill">-->
                <mat-label>Zu bearbeitender Arbeitsplatz</mat-label>
                <mat-select class="form-control" (selectionChange)="setWorkspace($event.value)" [(value)]="selectedWorkspace">
                    <mat-option *ngFor="let workspace of allWorkspaces" [value]="workspace" >
                        {{workspace.workspace_name}}
                    </mat-option>
                </mat-select>
            <!--</mat-form-field>-->
            <p style="font-size: x-small;">Arbeitsplatz</p>
        </div>
        <div *ngIf="selectedWorkspace" class="col-md-auto">
            <br>
            <div class="row">
                <div class="col-md-auto">
                    <button *ngIf="selectedWorkspace.active" class="col-md-auto secondaryButtonKS" Equipmenttype="submit" (click)="blockWorkspace()" >Arbeitsplatz sperren</button>
                    <button *ngIf="!selectedWorkspace.active" class="col-md-auto secondaryButtonKS" Equipmenttype="submit" (click)="unblockWorkspace()" >Arbeitsplatz entsperren</button>
                </div>
                <div class="col-md-auto ">
                    <button class="col-md-auto secondaryButtonKS" Equipmenttype="submit" (click)="openDeleteDialog()" >Arbeitsplatz löschen</button>
                </div>
            </div>

        </div>



        <div class="col-md-auto">
            <br>
            <button class="primaryButtonKS" type="submit" (click)="openNewWorkspace()">Arbeitsplatz erstellen</button>
        </div>
    </div>
    <div class="row">


        <div class="col-10 map" id="map">
            <div *ngIf="isMap">
                <img id='img' src="{{ImagePath}}" usemap="#workspacemap" class="imagemap" [ngStyle]="{'width.px': mapWidth, 'height': mapWidth}" (load)="getOffset()">
                <div *ngIf="mapWorkspaces" >
                    <div *ngFor="let w of mapWorkspaces">
                        <div *ngIf="mapOffsetLeft&&mapOffsetTop && !isSelectedWorkspace(w)">
                            <div class="workspace" [ngStyle]="{'position': 'absolute', 'left.px': w.x*mapScale + mapOffsetLeft, 'top.px': w.y*mapScale + mapOffsetTop, 'transform':'rotate('+w.rotation+'deg) scale('+w.scale*mapScale+')'}"></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="mapOffsetLeft&&mapOffsetTop && (selectedWorkspace||newWorkspaceCreating)">
                    <div id="select" class="workspace selected" [ngStyle]="{'position': 'absolute', 'left.px': x*mapScale + mapOffsetLeft, 'top.px': y*mapScale + mapOffsetTop, 'transform':'rotate('+rotation+'deg) scale('+scale*mapScale+')'}"></div>
                </div>
            </div>


        </div>
        <div class="col-2"  *ngIf="selectedWorkspace||newWorkspaceCreating">
            <form appearance="fill" [formGroup]="workspaceForm">
                <div>
                    <mat-label>Karte*</mat-label>
                    <mat-select class="form-control" formControlName="selectedMap" placeholder="Hier auswählen" [(ngModel)]="selectedMap" (selectionChange)="selectMap()">
                        <mat-option *ngFor="let map of allMaps" [value]="map" >
                            {{map.name}}
                        </mat-option>
                    </mat-select>
                    <!-- Hier müssen wir noch irgendwie validieren ob etwas ausgewählt ist -->
                </div>
                <div *ngIf="newWorkspaceCreating">
                    <mat-label>Raum*</mat-label>
                    <mat-select class="form-control" formControlName="roomForm" placeholder="Hier auswählen" [(ngModel)]="room">
                        <mat-option *ngFor="let room of allRooms" [value]="room" >
                            {{room.room_name}}
                        </mat-option>
                    </mat-select>
                    <!-- Hier müssen wir noch irgendwie validieren ob etwas ausgewählt ist -->
                </div>
                <div>
                    <label>Arbeitsplatzname*</label>
                    <input type="text" class="form-control" formControlName="name" [(ngModel)]="name">
                    <div *ngIf="workspaceForm.get('name')?.invalid && (workspaceForm.get('name')?.dirty || workspaceForm.get('name')?.touched)"
                        class="alert alert-danger">

                        <div *ngIf="workspaceForm.get('name')?.errors?.['required']">
                            Arbeitsplatzname ist ein Pflichtfeld.
                        </div>
                        <div *ngIf="workspaceForm.get('name')?.errors?.['minlength']">
                            Arbeitsplatzname muss mindestens 5 Zeichen lang sein.
                        </div>
                    </div>
                </div>
                <div>
                    <label>X-Koordinate*</label>
                    <input type="number" class="form-control" formControlName="x" [(ngModel)]="x">
                    <div *ngIf="workspaceForm.get('x')?.invalid && (workspaceForm.get('x')?.dirty || workspaceForm.get('x')?.touched)"
                        class="alert alert-danger">

                        <div *ngIf="workspaceForm.get('x')?.errors?.['required']">
                            X-Koordinate ist ein Pflichtfeld.
                        </div>
                        <div *ngIf="workspaceForm.get('x')?.errors?.['min']">
                            X-Koordinate muss mindestens 0 sein.
                        </div>
                        <div *ngIf="workspaceForm.get('x')?.errors?.['max']">
                            X-Koordinate muss maximal 936 sein.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Y-Koordinate*</label>
                    <input type="number" class="form-control" formControlName="y" [(ngModel)]="y">
                    <div *ngIf="workspaceForm.get('y')?.invalid && (workspaceForm.get('y')?.dirty || workspaceForm.get('y')?.touched)"
                        class="alert alert-danger">

                        <div *ngIf="workspaceForm.get('y')?.errors?.['required']">
                            Y-Koordinate ist ein Pflichtfeld.
                        </div>
                        <div *ngIf="workspaceForm.get('y')?.errors?.['min']">
                            Y-Koordinate muss mindestens 0 sein.
                        </div>
                        <div *ngIf="workspaceForm.get('y')?.errors?.['max']">
                            Y-Koordinate muss maximal 936 sein.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Größe*</label>
                    <input type="number" required class="form-control" formControlName="scale" [(ngModel)]="scale">
                    <div *ngIf="workspaceForm.get('scale')?.invalid && (workspaceForm.get('scale')?.dirty || workspaceForm.get('scale')?.touched)"
                        class="alert alert-danger">

                        <div *ngIf="workspaceForm.get('scale')?.errors?.['required']">
                            Größe ist ein Pflichtfeld.
                        </div>
                        <div *ngIf="workspaceForm.get('scale')?.errors?.['min']">
                            Größe muss mindestens 0,2 sein.
                        </div>
                        <div *ngIf="workspaceForm.get('scale')?.errors?.['max']">
                            Größe muss maximal 5 sein.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Drehungsgrad*</label>
                    <input type="number" required class="form-control" formControlName="rotation" min="0" max="359" [(ngModel)]="rotation">
                    <div *ngIf="workspaceForm.get('rotation')?.invalid && (workspaceForm.get('rotation')?.dirty || workspaceForm.get('rotation')?.touched)"
                        class="alert alert-danger">

                        <div *ngIf="workspaceForm.get('rotation')?.errors?.['required']">
                            Drehungsgrad ist ein Pflichtfeld.
                        </div>
                        <div *ngIf="workspaceForm.get('rotation')?.errors?.['min']">
                            Drehungsgrad muss mindestens 0 sein.
                        </div>
                        <div *ngIf="workspaceForm.get('rotation')?.errors?.['max']">
                            Drehungsgrad muss maximal 359 sein.
                        </div>
                    </div>
                </div>
                <div>
                    <mat-label>Fester Arbeitsplatz für: </mat-label>
                    <mat-select class="form-control" formControlName="selectedEmployee" placeholder="Hier auswählen" [(ngModel)]="selectedEmployee">
                        <mat-option [value]="{employee_id: -1, username:'', forename: '', lastname:'', orga_unit:'', email_address:'', first_aid:false, keycloak_id:'', default_mapID:-1, anonymous:false}"></mat-option>
                        <mat-option *ngFor="let employee of allEmployees" [value]="employee" >
                            {{employee.forename + " " + employee.lastname}}
                        </mat-option>
                    </mat-select>
                    <!-- Hier müssen wir noch irgendwie validieren ob etwas ausgewählt ist -->
                </div>
                <div>
                    <mat-label>Arbeitsplatz buchbar, wenn Person mobil arbeitet oder abwesend ist</mat-label>
                    <mat-select class="form-control" formControlName="bookableWhenHO" placeholder="Hier auswählen" [(value)]="selectedBookableWhenHO">
                        <mat-option [value]="stringToBool('true')" >Ja</mat-option>
                        <mat-option [value]="stringToBool('false')">Nein</mat-option>
                    </mat-select>
                    <!-- Hier müssen wir noch irgendwie validieren ob etwas ausgewählt ist -->
                </div>
                <div>
                    <mat-label>Farbe*</mat-label>
                    <mat-select class="form-control" formControlName="selectedColor" placeholder="Hier auswählen" [(ngModel)]="selectedColor">
                        <mat-option *ngFor="let color of allColors" [ngStyle]="{'background-color': '#'+color.color}" [value]="color" >
                            {{color.description}}
                        </mat-option>
                    </mat-select>
                    <!-- Hier müssen wir noch irgendwie validieren ob etwas ausgewählt ist -->
                </div>
                <div *ngIf="selectedWorkspace">
                    <mat-label>Ausstattung einstellen</mat-label>
                    <mat-select class="form-control" [formControl]="equipmentForm" multiple [compareWith]="compareEquipment" [(ngModel)]="equipment">
                        <mat-option *ngFor="let e of allEquipment" [value]="e">{{e.name}}</mat-option>
                    </mat-select>
                </div>
            </form>
            <br>
            <div *ngIf="selectedWorkspace" class="row">
                <div class="col-md-auto">
                    <button class="col-md-auto primaryButtonKS" type="submit" (click)="updateWorkspace()" >Speichern</button>
                </div>
            </div>
            <br>
            <div *ngIf="newWorkspaceCreating">
                <button class="primaryButtonKS" type="submit" (click)="createWorkspace()" >Erstellen</button>
            </div>
        </div>
        <br>
    </div>
</div>
