@import'../../kreissoestStyle.scss';

.example-viewport {
    height: 400px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 20px;
    font-size: large;
  }

  .mat-mdc-selection-list {
    max-height: 400px;
    overflow: auto;
    border: 1px;
    border-style: solid;
  }

  .listbox{
    font-size: large;
    border: solid 1px;
    height:250px;
    overflow: hidden;
    overflow-y:scroll;
  }

  .listboxitem{
    list-style: none;
    border: solid 1px;
  }

  .listboxitem:hover{
    cursor: pointer;
    background: rgba(0,0,0,.1);
  }

  .workspace{
    width: 50px;
    height: 25px;
    background-color: greenyellow;
  }

  .selected{
    background-color: red !important;
  }

  .map{
    max-width: 936px;
    max-height: 936px;
  }