<div class="container-fluid pt-2" >
      <div class="navigation">
        <mat-toolbar>
          <mat-toolbar-row>
            <a class="appTitle" (click)="onLogoClicked()">RUMBA <p style="display: inline;font-size: 15px;">1.6.14</p> </a>

            <span class="example-spacer"></span>

            <ng-container *ngIf="ss.localuser.loggedIn" class="nav-tool-items">
              <a class="link mx-3" routerLink="../bookings/roompage/today" routerLinkActive="active">Heute</a>
              <a class="link mx-3" routerLink="../bookings/roompage/tomorrow" routerLinkActive="active">Morgen</a>
              <a class="link mx-3" routerLink="../bookings/roompage/anydate" routerLinkActive="active">Später</a>

              <ng-container *ngIf="ss.localuser.role == 'admin'">
                <a class="link mx-3" routerLink="../adminpanel/newbooking" routerLinkActive="active">Admin</a>
              </ng-container>
            </ng-container>

            <span class="example-spacer"></span>
<!--
            <div *ngIf="ss.localuser.loggedIn" class="timer">
              Logout in: <br>
              {{ss.timeTillLogOut *1000 | date:'mm:ss'}}
            </div> -->

            <div *ngIf="ss.localuser.loggedIn" class="mx-3" style="font-size: initial; color: white;">
              Hallo {{ss.localuser.forename}}
            </div>

            <ng-container *ngIf="!ss.terminal">
              <input type="image" mat-button [matMenuTriggerFor]="menu" src="assets/usericon.png" class="profileicon" style="vertical-align:right;">
              <mat-menu #menu="matMenu">

                <button *ngIf="ss.localuser.loggedIn" mat-menu-item routerLink="../profile/managebookings">Meine Buchungen</button>
                <button *ngIf="ss.localuser.loggedIn" mat-menu-item routerLink="../profile/settings">Einstellungen</button>
                <button *ngIf="ss.localuser.loggedIn" mat-menu-item (click)="onLogoutClick()" >Logout</button>
                <button *ngIf="!ss.localuser.loggedIn" (click)="onLoginClick()" mat-menu-item >Login</button>
              </mat-menu>
            </ng-container>
            <ng-container *ngIf="ss.terminal&&!ss.terminalpublic">
              <button routerLink="public/terminal/terminal" activeLink="true" class="secondaryButtonKSsmall">Zurück</button>
            </ng-container>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
  <router-outlet ></router-outlet>
</div>
