.mat-toolbar.mat-primary, .navigation {
    background: #A4161A;
    color: #fff;
  }

  .mat-toolbar {
    background: #A4161A;
    color: #fff;
  }

  .appTitle {
    text-decoration: none;
    color: white;
    font-size: 2em;
  }
  .appTitle:hover{
    cursor:pointer;
  }

  .link{
    color:white;
    transition: 0.1s;
    text-decoration: none;
  }

  .link:hover{
    color: white;
    background-color: rgb(94, 0, 0);
    transform: scale(1.2);
    font-weight: bold;
    border-radius: 5px;
    padding:5px;
  }

  .loginButton{
    background-color: #696969;
    border-color: black;
    float: right;

  }

  .loginButton:hover{
    background-color: #474747;
  }

  .active{
    font-weight: bold;
    font-size: large;
/*    text-decoration: underline;
    border: solid;
    border-style: 3px;*/
    background-color: #fff;
    color:#A4161A;
    transform: scale(1.1);
    border-radius: 5px;
    padding:5px;
  }


  .profileicon {
    width:46px;
    height: 46px;
    float: right;
    margin: 2px;
  }

  .profileicon:hover{
    cursor: pointer;
    background-color: rgb(94, 0, 0);
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .timer {
    color:#fff;
  }

  .body{
    background-color: #F2F4F5;
  }