
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$maklerbautraeger-primary: mat.define-palette(mat.$indigo-palette);
$maklerbautraeger-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$maklerbautraeger-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$maklerbautraeger-theme: mat.define-light-theme((
  color: (
    primary: $maklerbautraeger-primary,
    accent: $maklerbautraeger-accent,
    warn: $maklerbautraeger-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($maklerbautraeger-theme);

// @font-face {
//     font-family: "OpenSans";
//     src: local("OpenSans"), url(./assets/fonts/OpenSansRegular.ttf) format("truetype");
// }

$primary: rgb(220, 41,26);
$secondaryWhite: rgb(255,255,255);
$secondaryGrey: rgb(217,217,217);
$secondaryBlack: rgb(0,0,0);
$secondaryYellow: rgb(250,177,0);
$secondaryGreen: rgb(0,173,68);
$secondaryBlue: rgb(0,103,175);
$PrimaryButtonOnHover: rgba(100,0,0,0.9);

// $font-size: 22px;
// $font-size-Button: 18px;
// $font-size-Textbox: 18px;
// $font-size-selectOption: 14px;
// $font-size-label: 22px;

.primaryColor{
    color:$primary;
}

Body{
    // background-color: red;
    //font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    //font-size: $font-size
}


.primaryButtonKS{
    border: 0px;
    border-radius: 30px;

    //font-size: $font-size-Button;
    color: white;

    padding-top:12px;
    padding-bottom:12px;
    padding-left: 30px;
    padding-right: 30px;

    background-color:$primary;

}

.primaryButtonKS:hover{
    transition: 0.15s;
    background-color: $PrimaryButtonOnHover;
    cursor: pointer;
}

.secondaryButtonKS{
    border: 2px solid;
    border-color: $primary;
    border-radius: 30px;

    //font-size: $font-size-Button;
    color: $primary;

    padding-top:12px;
    padding-bottom:12px;
    padding-left: 30px;
    padding-right: 30px;

    background-color:white;
}

.secondaryButtonKS:hover{
    text-decoration: underline;
    cursor: pointer;
}

.secondaryButtonKSsmall{
    border: 2px solid;
    border-color: $primary;
    border-radius: 10px;

    //font-size: $font-size-Button;
    color: $primary;

    padding-top:2px;
    padding-bottom:2px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:white;
}

.secondaryButtonKSsmall:hover{
    text-decoration: underline;
    cursor: pointer;
}

.textButtonKS{
    color: $primary;
}

.textButtonKS:hover{
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
}

.textboxKS{
    
    //font-size: $font-size-Textbox;
    // border:1px;
    border-radius: 7px;
    padding-left:7px;

}

.searchBoxKS{
    //font-size: $font-size-Textbox;
    // border:1px;
    border-radius: 7px;
    background-image: url("/assets/icons/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left:7px;
    
}

.searchBoxKS:focus{
    transition: 0.2s;
    background-position: right;
}

.textareaKS{
    //font-size: $font-size-Textbox;
    // border:1px;
    border-radius: 7px;
    padding-left:7px;
}

.selectKS{
    //font-size: $font-size-Textbox;
    border-radius: 7px;
}

.selectOptionKS{
    //font-size: $font-size-selectOption;
}

.labelKS{
    //font-size: $font-size-label;
}

.checkboxKS{
    color:$primary;
}

/**
* This makes the checkbox background white and smaller because if not it would overshadow the checkbox frame.
*/
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
::ng-deep .mat-checkbox-checked .mat-checkbox-background{
    left: 2px;
    top: 2px;
    height: 12px;
    width: 12px;
    background-color: white !important;
}

/**
* This makes the checkbox frame black.
*/
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
::ng-deep .mat-checkbox-frame{
    border-color: black !important;
}

/**
* This makes the checkmark in the checkbox black
*/
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
::ng-deep .mat-checkbox-checked .mat-checkbox-checkmark-path{
    stroke: black !important;
}

/**
* This makes the outer circle of the radio button black for the clicked radio button
*/
/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-mdc-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle, .mat-radio-outer-circle {
    border-color: black !important;
    /* Sets outer circle & click effect color */
}

/**
* This makes the outer circle of the radio button blacked.
*/
/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-radio-outer-circle {
    border-color: black !important;
    /* Sets outer circle & click effect color */
}

/**
* THis makes the inner circle of the radio button black
*/
/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-mdc-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: black !important;
    /* Sets inner circle color */
}

/**
* This makes the slide toggle bar grey if it is not disabled
*/
/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: grey !important;
}

/**
* This makes the slide toggle thumb white if it is not disabled and not checked
*/
/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
:host ::ng-deep  .mat-mdc-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(235, 235, 235) !important;
}

/**
* This makes the slide toggle thumb black if it is not disabled and checked
*/
/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
:host ::ng-deep  .mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: black !important;
}