@import'../../kreissoestStyle.scss';
.mat-mdc-dialog-content  {
    max-height: 50vh;
    height: 100%;
    width: 100%;
}

.occupationTable{
    margin: 20px;
    background-color: alpha($color: #0000003b);
}

.container{
    padding:30px;
    body{
        border: 3px solid black;
        box-shadow: 30px, 30px, black;
    }
}





