<div class="container">
    <div class="row">
    
        <h1 style="display: inline;" class="float-start" mat-dialog-title>
            {{title}}
        </h1>
  

</div>
    
<div mat-dialog-content >
      <div class="col">
        <div class="row">
            <p *ngIf="!multidayBooking" style="font-weight: bold;">{{description}}</p>
            <p *ngIf="multidayBooking && !workspace" style="font-weight: bold;">Soll der Arbeitsplatz für die gewählten Tage gebucht werden?</p>
            <p *ngIf="multidayBooking && workspace" style="font-weight: bold;">Soll der Arbeitsplatz ({{workspace.workspace_name}}) für die gewählten Tage gebucht werden?</p>
        </div>

        <div class="row my-3">
            <mat-radio-group aria-label="Select an option" (change)="changeRadioSingleOrMulti($event.value)">
                <!-- RADIO-BUTTON SINGLE DAY -->
                <mat-radio-button value="single" [checked]="singleDayBooking">Einzelbuchung</mat-radio-button><br>
                 <!-- SINGLE DAY BOOKING -->
                 <div class="row" *ngIf="singleDayBooking">
                    <div class="col" style="margin-left: 23px;margin-top: 5px;">
                        <div class="row">
                            <mat-checkbox class="example-margin" [disabled]="disableHalfDayButtons" [checked]="halfday" (change)="halfday = !halfday">Halben Tag buchen</mat-checkbox>
                        </div>
                        <div class="row"  *ngIf="halfday">
                            <div class="col">
                                <mat-radio-group [disabled]="disableHalfDayButtons" aria-label="Select an option" (change)="changeRadio($event.value)">
                                    <mat-radio-button class="mx-4 mt-2" value="vormittags" [checked]="checkRadioButtonMorning" >Vormittags (bis 12:30 Uhr)</mat-radio-button><br>
                                    <mat-radio-button class="my-2 mx-4" value="nachmittags" [checked]="checkRadioButtonAfternoon" >Nachmittags (ab 12:30 Uhr)</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- RADIO-BUTTON MULTI DAY -->
                <mat-radio-button *ngIf="occupations || !workspace" value="multi" [checked]="multidayBooking" style="margin-top: 10px;">Mehrtägige Buchung</mat-radio-button>
                <!-- MULTI DAY BOOKING -->
                <div class="row" *ngIf="multidayBooking">
                    <div class="col-md-10">
                        <table mat-table [dataSource]="TableDataSource" class="occupationTable" >
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Auswahl </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <mat-checkbox [checked]="element.selected.selected" (change)="onChangeSelection(element)" *ngIf="showCheckbox(element)">
            
                                    </mat-checkbox> </td>
                            </ng-container>
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef style="width: 50%;" > Datum </th>
                                <td mat-cell *matCellDef="let element"> {{getDateTextForTable(element.date)}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Belegung </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <!-- <app-state [morning]="element.morning" [afternoon]="element.afternoon" ></app-state>  -->
                                    <app-state-select-halfday (change)="onCheckboxChange($event)" [to]="element" [userBookings]="getUserBookingsForDay(element.date)"></app-state-select-halfday>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
             </mat-radio-group>
        </div>
</div>
</div>
       
    
<hr style="margin-top: 15px;">
  <div class="row mt-3">
    <label>Kommentar</label>
    <textarea #comment [value]="note" (input)="onCommentInput(comment.value)" rows="4" cols="30" maxlength="255" ></textarea>
    <p style="font-weight: lighter; font-size: x-small;">{{note.length + ' von ' + maxNoteChars + ' Zeichen'}}</p>
</div>
  <div mat-dialog-actions width="100%">
    <button class="secondaryButtonKS" (click)="close()" style="float: right; width: 50%">Abbrechen</button>
    <button class="primaryButtonKS" (click)="save()" style="float: right; width: 50%">Bestätigen</button>
  </div>

</div>