@import '../../../kreissoestStyle.scss';

.hovable:hover{
    cursor: pointer;
}

.tooltipClass{
    white-space: pre-line;
}

.CompleteDayBooked{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background-color: $primary;
}

.ownWorkspace{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background-color: $secondaryBlue !important;
}

.ownWorkspaceMorning{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlue 60%, $secondaryGreen 70%); // https://cssgradient.io/
}

.ownWorkspaceMorningAfternoonView{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:$secondaryGreen;
    background: linear-gradient(180deg, $secondaryBlue 30%, $secondaryGreen 40%); // https://cssgradient.io/
}

.ownWorkspaceAfternoon{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg,  $secondaryGreen 30%, $secondaryBlue 40%); // https://cssgradient.io/
}

.ownWorkspaceAfternoonMorningView{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:$secondaryBlue;
    background: linear-gradient(180deg,  $secondaryGreen 60%, $secondaryBlue 70%); // https://cssgradient.io/
}

.OnlyMorningBooked{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $primary 60%, $secondaryGreen 70%); // https://cssgradient.io/
}

.OnlyAfternoonBooked{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg,  $secondaryGreen 30%, $primary 40%); // https://cssgradient.io/
}

.OnlyAfternoonBookedMorningView{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:$primary;
    background: linear-gradient(180deg,  $secondaryGreen 60%, $primary 70%); // https://cssgradient.io/
}

.OnlyMorningBookedAfternoonView{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:$secondaryGreen;
    background: linear-gradient(180deg, $primary 30%, $secondaryGreen 40%); // https://cssgradient.io/
}

.ReservedFullDay{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background-color: $secondaryBlack;
}

.MorningReservedAfternoonUser{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlack 60%, $secondaryBlue 70%); // https://cssgradient.io/
}

.AfternoonUserMorningReserved{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlack 30%, $secondaryBlue 40%); // https://cssgradient.io/
}

.MorningReservedAfternoonBooked{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlack 60%, $primary 70%); // https://cssgradient.io/
}

.AfternoonBookedMorningReserved{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlack 30%, $primary 40%); // https://cssgradient.io/
}

.MorningReservedAfternoonFree{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlack 60%, $secondaryGreen 70%); // https://cssgradient.io/
}

.AfternoonFreeMorningReserved{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlack 30%, $secondaryGreen 40%); // https://cssgradient.io/
}

.MorningUserAfternoonReserved{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlue 60%, $secondaryBlack 70%); // https://cssgradient.io/
}

.AfternoonReservedMorningUser{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryBlue 30%, $secondaryBlack 40%); // https://cssgradient.io/
}

.MorningBookedAfternoonReserved{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $primary 60%, $secondaryBlack 70%); // https://cssgradient.io/
}

.AfternoonReservedMorningBooked{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $primary 30%, $secondaryBlack 40%); // https://cssgradient.io/
}

.MorningFreeAfternoonReserved{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryGreen 60%, $secondaryBlack 70%); // https://cssgradient.io/
}

.AfternoonReservedMorningFree{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg, $secondaryGreen 30%, $secondaryBlack 40%); // https://cssgradient.io/
}

.delete{
    width:10 px;
    height: 10px;
    
}

.AfternoonWithMorningBooked{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg,  $primary 20%, $secondaryBlack 30%, $primary 40%); // https://cssgradient.io/
}

.MorningWithAfternoonBooked{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg,  $primary 60%, $secondaryBlack 70%, $primary 80%); // https://cssgradient.io/
}

.AfternoonWithMorningBookedUserMorning{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg,  $secondaryBlue 30%, $primary 40%); // https://cssgradient.io/
}

.MorningWithAfternoonBookedUserMorning{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg,  $secondaryBlue 60%, $primary 70%); // https://cssgradient.io/
}

.AfternoonWithMorningBookedUserAfternoon{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg,  $primary 30%, $secondaryBlue 40%); // https://cssgradient.io/
}

.MorningWithAfternoonBookedUserAfternoon{
    border: 1px; 
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    padding:0.2%;
    color:white;
    background: linear-gradient(180deg,  $primary 60%, $secondaryBlue 70%); // https://cssgradient.io/
}

.pointer{
    cursor: pointer;
}

.searched{
    background: $secondaryYellow !important;
    color: black !important;
}