<!-- pk, 2023/03/16, correct the position of the label by 8 (empirical value)  -->
<div [attr.id]="'currentOccupationEmployeeID' + currentOccupation.employee_id"
[ngClass]=  "giveClass()"
*ngIf="occupations && currentOccupation && department && ((offsetLeft || offsetLeft == 0) && (offsetTop || offsetTop == 0))"
[ngStyle]="{'position': 'absolute', 'left.px': calculatedX + offsetLeft - displayedNameLengthOverExpected, 'top.px': calculatedY + offsetTop, 'transform': scaleXY+' rotate('+rotation+'deg)'}"

(click)="onClick(currentOccupation)" (window:resize)="adjustCoordinates()">
    <div>
        {{getDisplayedName(currentOccupation.forename, currentOccupation.lastname, department.NamePatternOnMap)}}
        <img *ngIf="currentOccupation.first_aid" src="assets/erstehilfe.png" title="Ersthelfer" style="width: 16px; height: 16px">
        <img *ngIf="currentOccupation.comment.length >0" src="assets/comment.png" title="Kommentar" style="width: 16px; height: 16px; color: white;"     matTooltip="{{tooltipText}}"
        matTooltipPosition="right" matTooltipClass="tooltipClass">
        <img *ngIf="isOwnWorkspace()&&!isPublic" class="pointer" src="assets/cancel.png" title="Löschen" style="width: 16px; height: 16px; background-color: white; border-radius: 50%;" (click)="openDeleteDialog()">
    </div>
</div>

<div [attr.id]="'reservationEmployeeID' + employee.employee_id"
    *ngIf="(freeReserved || occupations?.length==0) && employee && department && ((offsetLeft || offsetLeft == 0) && (offsetTop || offsetTop == 0))"
    [ngClass]=  "giveClass()"
    [ngStyle]="{'position': 'absolute', 'left.px': calculatedX + offsetLeft - displayedNameLengthOverExpected, 'top.px': calculatedY + offsetTop, 'transform': scaleXY+' rotate('+rotation+'deg)'}"
    (click)="onClick()"
    (window:resize)="adjustCoordinates()">
    <div>
        {{getDisplayedName(employee.forename, employee.lastname, department.NamePatternOnMap)}}
        <img *ngIf="employee.first_aid" src="assets/erstehilfe.png" title="Ersthelfer" style="width: 16px; height: 16px">
        <img *ngIf="isOwnWorkspace()&&!isPublic" class="pointer" src="assets/cancel.png" title="Löschen" style="width: 16px; height: 16px; background-color: white; border-radius: 50%;" (click)="openDeleteDialog()">
    </div>
</div>
