<div class="container form-group">
    <form appearance="fill" [formGroup]="orgaForm">
    <br>
    <!--<div class="col">
        <label>Name*</label>
        <input type="text" class="form-control" formControlName="name" [(ngModel)]="name">
    </div>-->
    <br>
    <div class="col">
        <label>Beschreibung</label>
        <input type="text" class="form-control" formControlName="description" [(ngModel)]="description">
    </div>
    <br>
    <!--<div class="col">
        <label>Wie viele Tage im Voraus sollen Mitarbeiter buchen können?*</label>
        <input type="number" class="form-control" formControlName="days" [(ngModel)]="days">
    </div>-->
    <br>
    <div class="col">

            <mat-form-field>
            <mat-select placeholder="Namensdarstellung*" class="form-control" formControlName="namePattern" [(value)]="namePattern">
                <mat-option value="forename lastname">Vorname Nachname</mat-option>
                <mat-option value="forename, lastname">Vorname, Nachname</mat-option>
                <mat-option value="forename l.">Vorname N.</mat-option>
                <mat-option value="forename, l.">Vorname, N.</mat-option>
                <mat-option value="f. lastname">V. Nachname</mat-option>
                <mat-option value="lastname forename">Nachname Vorname</mat-option>
                <mat-option value="lastname, forename">Nachname, Vorname</mat-option>
                <mat-option value="lastname, f.">Nachname, V.</mat-option>
            </mat-select>
            </mat-form-field>


    </div>
    <br><br>
    <div class="col">
        <mat-label>Sollen die Labels/Infocards sich mit den Arbeitsplätzen mit rotieren?</mat-label>
        <mat-select class="form-control" formControlName="rotateInfocard" placeholder="Hier auswählen" [(value)]="rotateInfocards">
            <mat-option [value]="stringToBool('true')" >Ja</mat-option>
            <mat-option [value]="stringToBool('false')">Nein</mat-option>
        </mat-select>
        <!-- Hier müssen wir noch irgendwie validieren ob etwas ausgewählt ist -->
    </div>
    <br><br>
    </form>
    <button class="primaryButtonKS" type="submit" (click)="change()">Speichern</button>
    <br><br><br><br><br>
    <div class="row">

        <p>Arbeitsplatzfarben</p>
        <form appearance="fill" [formGroup]="colorForm">
        <mat-form-field>
        <mat-select placeholder="Bedeutung der Arbeitsplatzfarben" [ngStyle]="{'background-color': '#'+color}" class="form-control" formControlName="workspacecolorForm" [(value)]="color" (selectionChange)="setColor()">
            <mat-option value="000000" [ngStyle]="{'background-color': '#000000', 'color': 'white'}">Schwarz</mat-option>
            <mat-option value="898989" [ngStyle]="{'background-color': '#898989'}">Dunkelgrau</mat-option>
            <mat-option value="d9d9d9" [ngStyle]="{'background-color': '#d9d9d9'}">Grau</mat-option>
            <mat-option value="dc291a" [ngStyle]="{'background-color': '#dc291a', 'color': 'white'}">Rot</mat-option>
            <mat-option value="291adc" [ngStyle]="{'background-color': '#0067af', 'color': 'white'}">Blau</mat-option>
            <mat-option value="1adc29" [ngStyle]="{'background-color': '#00ad44', 'color': 'white'}">Grün</mat-option>
            <mat-option value="ffff00" [ngStyle]="{'background-color': '#fab100'}">Gelb</mat-option>
            <mat-option value="fa8072" [ngStyle]="{'background-color': '#fa8072', 'color': 'white'}">Hellrot</mat-option>
            <mat-option value="87cefa" [ngStyle]="{'background-color': '#87cefa', 'color': 'white'}">Hellblau</mat-option>
            <mat-option value="7cfc00" [ngStyle]="{'background-color': '#7cfc00', 'color': 'white'}">Hellgrün</mat-option>
        </mat-select>
        </mat-form-field>
        <div *ngIf="isColorEdit">
            <label>Beschreibung der Farbe in der Legende.*</label>
            <input type="text" class="form-control" formControlName="workspacecolorForm" [(ngModel)]="colordescription">
            <button class="primaryButtonKS" type="submit" (click)="changeColor()">Speichern</button>
        </div>
        </form>

    </div>
</div>
