<h1 mat-dialog-title>
  {{title}}
</h1>
  
<div mat-dialog-content>
  <p>{{description}}</p>
</div>
  
<div mat-dialog-actions width="100%">
  <button class="secondaryButtonKS" (click)="close()" style="float: right; width: 50%">Abbrechen</button>
  <button class="primaryButtonKS" (click)="save()" style="float: right; width: 50%">Bestätigen</button>
</div>