<div *ngIf="to">
    <!-- All-day booking -->
    <div *ngIf="to.morning && to.afternoon">
        <div class="float-start mx-1"><app-checkbox [boxColor]="checkboxBoxDisabledColor" [disabled]="UserBookedAtMorning" [alreadyBooked]="true"  [checked]="true" [checkedColor]="checkboxdisabledColor"></app-checkbox></div>
        <div  class="float-start"><app-checkbox [boxColor]="checkboxBoxDisabledColor" [disabled]="UserBookedAtAfternoon" [alreadyBooked]="true"  [checked]="true" [checkedColor]="checkboxdisabledColor"></app-checkbox></div>
    </div>

    <!-- Only MOrning booked -->
    <div *ngIf="to.morning && !to.afternoon">
        <div class="float-start mx-1"><app-checkbox [boxColor]="checkboxBoxDisabledColor" [disabled]="UserBookedAtMorning" [alreadyBooked]="true" [checked]="true" [checkedColor]="checkboxdisabledColor"></app-checkbox></div>
        <div  class="float-start"><app-checkbox [boxColor]="checkboxBoxColor" [disabled]="UserBookedAtAfternoon" (change)="onAfternoonChange($event)" [checked]="to.selected.afternoon" [checkedColor]="checkboxCheckedColor"></app-checkbox></div>
    </div>

    <!-- Only Afternoon booked -->
    <div *ngIf="!to.morning && to.afternoon">
        <div class=" float-start mx-1"><app-checkbox [boxColor]="checkboxBoxColor" [disabled]="UserBookedAtMorning"  (change)="onMorningChange($event)" [checked]="to.selected.morning" [checkedColor]="checkboxCheckedColor"></app-checkbox></div>
        <div  class="float-start"><app-checkbox [boxColor]="checkboxBoxDisabledColor" [disabled]="UserBookedAtAfternoon"  [alreadyBooked]="true"  [checked]="true" [checkedColor]="checkboxdisabledColor"></app-checkbox></div>
    </div>
        
    <!-- Free -->
    <div *ngIf="!to.morning && !to.afternoon">
        <div class=" float-start mx-1"><app-checkbox [boxColor]="checkboxBoxColor" [disabled]="UserBookedAtMorning"  (change)="onMorningChange($event)" [checked]="to.selected.morning" [checkedColor]="checkboxCheckedColor"></app-checkbox></div>
        <div  class=" float-start"><app-checkbox [boxColor]="checkboxBoxColor" [disabled]="UserBookedAtAfternoon"  (change)="onAfternoonChange($event)" [checked]="to.selected.afternoon" [checkedColor]="checkboxCheckedColor"></app-checkbox></div>
    </div>
</div>