.booked{
    height: 20px;
    width: 20px;
    background-color:  rgb(241, 99, 99);
    border-radius: 5px;
    text-align: center;
}

.free{
    height: 20px;
    width: 20px;
    border: 5px solid rgb(116, 192, 113);
    border-radius: 5px;
    text-align: center;
}

.checkbox_booked{
    color: rgb(241, 99, 99);
}