<h1 mat-dialog-title>
    {{title}}
  </h1>
    
  <div mat-dialog-content>
      <div class="col">
        <div class="row">
            <p style="font-weight: bold;">{{description}}</p>
        </div>
      </div>

    

  </div>
    
  <div mat-dialog-actions width="100%">
    <ul>
      <div *ngFor="let map of department.maps">
        <button class="primaryButtonKS col-12" (click)="onButtonClick(map)" style="float: right; margin-bottom: 1px">{{map.name}}</button>
      </div>
      
      <div>
        <button class="secondaryButtonKS col-12" (click)="close()" style="float: right">Abbrechen</button>
      </div>
    </ul>
    
  </div>

