<form class="example-form" onsubmit="return false">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Suche</mat-label>
      <input type="text"  
             placeholder="Name eingeben"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             class="searchBoxKS" >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="onSelect(option)">
          {{option}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </form>
