@import'../../kreissoestStyle.scss';

.mat-mdc-card {
    background-color: $secondaryGrey;
    margin: 10px;
}

.mat-mdc-card:hover {
    cursor: pointer;
    background-color: #a9a9a9;
}

.content > mat-card {
    width: 200px;
}

.mat-mdc-button {
    margin: 2px !important;
}

.row > * {
    padding-left: 0px;
    padding-right: 0px;
}