<div class="row">
    <div *ngFor="let department of allDepartments" class="col-md-auto">
        <div >
            <mat-card appearance="outlined" class="mat-elevation-z4" (click)="onCardClick(department)">
                <mat-card-title *ngIf="department.name==storeService.publicDepartmentName">{{department.name}}</mat-card-title>
                <mat-card-title *ngIf="department.name.length==2">Abteilung {{department.name}}</mat-card-title>
                <mat-card-title *ngIf="department.name.length==4">Sachgebiet {{department.name}}</mat-card-title>
                <mat-card-title *ngIf="department.name.length!=4 && department.name.length!=2 && department.name != storeService.publicDepartmentName">{{department.name}}</mat-card-title>
                <mat-card-subtitle *ngIf="department.name!=storeService.publicDepartmentName">{{department.description}}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="department.name==storeService.publicDepartmentName">{{department.description}}</mat-card-subtitle>
                
                <mat-card-actions>
                    <!--<ng-container *ngFor="let map of department.maps">
                        <button class="secondaryButtonKSsmall" mat-button (click)="onButtonClick(department, map)">{{map.name || "Karte"}}</button>
                    </ng-container>-->
                    
                </mat-card-actions>
            </mat-card>
        </div>
        
    </div>
</div>