@import '../../kreissoestStyle.scss';

.entry{
    font-size: 15px;
    // margin-bottom: 6px;
}

.searched{
    background-color: $secondaryYellow !important;
}

.user{
    background-color: $secondaryBlue !important;
    color: white !important;
}

.pointer{
    cursor: pointer;
}