<div class="entry" *ngIf="homeofficeData || absenceData" [ngClass]="{'searched': searchedHomeoffice || searchedAbsence, 'user': user && !(searchedAbsence||searchedHomeoffice)}">
   {{showName()}}
   <img *ngIf="isOwnCard()&&!isPublic" class="pointer" src="assets/cancel.png" title="Löschen" style="width: 16px; height: 16px; background-color: white; border-radius: 50%;" (click)="openDeleteDialog()">
    <img *ngIf="showCommentImage()" src="assets/comment.png" title="Kommentar" class="mx-1" style="width: 16px; height: 16px; color: white;"     matTooltip="{{tooltipText}}">
    <hr style="margin-top:8px;margin-bottom: 5px;">
</div>