<div *ngIf="occupations && allWorkspaces">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 workspaceTable" multiTemplateDataRows matSort (matSortChange)="sortData($event)" >
       <!-- Room Column -->
       <ng-container matColumnDef="roomName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef >Raum</th>
            <td mat-cell *matCellDef="let element"
            >{{element.roomName}}</td>
        </ng-container> 

    
           <!-- Workspace Column -->
        <ng-container matColumnDef="workspaceName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Arbeitsplatz</th>
            <td mat-cell *matCellDef="let element"
            >{{element.workspaceName}}</td>
        </ng-container>      

        <!-- Status Column -->
        <ng-container  matColumnDef="occupied">
            <th mat-header-cell *matHeaderCellDef>Belegung</th>
            <td mat-cell *matCellDef="let element">
            <app-state [morning]="element.morning" [afternoon]="element.afternoon" ></app-state>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="occupationName">
            <th mat-header-cell *matHeaderCellDef>Belegt von</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.morning || element.afternoon">
                    {{showNames(element)}}
                </div>
            </td>
        </ng-container>

        <!-- Booking Column -->
        <ng-container matColumnDef="buchen">
            <th mat-header-cell *matHeaderCellDef>Buchen</th>
            <td mat-cell *matCellDef="let element" class="booking">
                <div *ngIf="showBookingButton(element)">
                    <button class="btn btn-secondary" (click)="bookingWorkspace(element.workspace)">buchen</button>
                </div>
            </td>
        </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>