<div class="container">
    <br><br>
    <div class="row">
        <div *ngIf="maps" class="col-md-auto">
            <div *ngIf="maps.length>1">
                <form>
                    <mat-form-field>
                    <mat-select placeholder="Karte" [(value)]="selectedMap">
                        <mat-option *ngFor="let map of maps" [value]="map">
                        {{ map.name }}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div class="col-md-auto">
            <mat-slide-toggle [checked]="selectedAnonymous" (toggleChange)="toggleChangeAnonymous()">
                <p style="font-size:20px;">Anonyme Buchung</p>
                
            </mat-slide-toggle>
            <p style="margin-left:44px">Der Name wird nur angemeldeten Usern angezeigt.</p>
        </div>
            
        

        <div class="col">
            <button class="primaryButtonKS" type="submit" (click)="changeUser()">Speichern</button>
        </div>
    </div>
    
</div>

