.state_free{
    width: 50px;
    height: 20px;
    border: black;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    background: linear-gradient(90deg, rgba(73,152,44,1) 48%, rgba(164,22,22,1) 50%, rgba(73,152,44,1) 52%);
}

.state_all-day{
    width: 50px;
    height: 20px;
    border: black;
    border-style: solid;
    border-color: rgb(71, 0, 0);
    border-radius: 8px;
    border-width: 1px;
    background: linear-gradient(90deg, rgba(164,22,22,1) 47%, rgba(73,152,44,1) 50%, rgba(164,22,22,1) 53%);
}

.state_morning-booked{
    width: 50px;
    height: 20px;
    border: black;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    background: linear-gradient(90deg, rgba(164,22,22,1) 49%, rgba(73,152,44,1) 50%, rgba(73,152,44,1) 52%);
}

.state_afternoon-booked{
    width: 50px;
    height: 20px;
    border: black;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    background: linear-gradient(90deg, rgba(73,152,44,1) 49%, rgba(73,152,44,1) 50%, rgba(164,22,22,1) 52%);
}


.greenDonut{
    border: 5px solid rgb(116, 192, 113);
    border-radius: 10px;
    height:20px;
    width:20px;

}

.redDonut{
    // border: 7px solid rgb(241, 99, 99);
    border-radius: 10px;
    height:20px;
    width:20px;
    background-color: rgb(241, 99, 99);
}