<div class="row">
    <!-- All-day booking -->
    <div *ngIf="morning && afternoon">
        <div class="redDonut float-start mx-1"></div>
        <div  class="redDonut float-start"></div>
    </div>

    <!-- Only MOrning booked -->
    <div *ngIf="morning && !afternoon">
        <div class="redDonut float-start mx-1"></div>
        <div  class="greenDonut float-start"></div>
    </div>

    <!-- Only Afternoon booked -->
    <div *ngIf="!morning && afternoon">
        <div class="greenDonut float-start mx-1"></div>
        <div  class="redDonut float-start"></div>
    </div>
        
    <!-- Free -->
    <div *ngIf="!morning && !afternoon">
        <div class="greenDonut float-start mx-1"></div>
        <div  class="greenDonut float-start"></div>
    </div>
    
</div>


